$standard-padding: 14px 18px;
$standard-margin: 8px;

@mixin standard-border($color) {
  border-width: 2px 0 0 3px;
  border-style: solid;
  border-color: $color;
}

$standard-gradient: linear-gradient(170deg, rgba(0, 0, 0, 0.25), transparent);

$black: #333;
$grey: #777;
$white: white;
$red: red;
$blue: steelblue;
$green: #46b4af;

%xCenter {
  display: flex;
  justify-content: center;
}