@import './global.scss';

html {
  height: 100%;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: $black;
  text-align: center;
}

header {
  background-color: $blue;
  background-image: $standard-gradient;
  color: $white;
  padding: $standard-padding;
}

main {

}

section {
  @extend %xCenter;
  padding: $standard-padding;
  margin: $standard-margin auto;
  background-image: $standard-gradient;

  &#searchBox {
    background-color: $green;
    border: none;
    form {
<<<<<<< HEAD
=======
      display: inline-block;
>>>>>>> master
      text-align: right;
      div {
        margin: 4px 0;
        &:last-child {
          text-align: center;
        }
      }
      label, input {
        padding: 2px;
      }
    }
  }

  &.resultsPanel {
    .searchResult {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;
      & > div {
        text-align: left;
        &:first-child {
          width: 15%;
        }
      }
    }
  }
}

span, a {
  margin: 0 6px;
}

.noShrink {
  flex-shrink: 0;
}

<<<<<<< HEAD
=======
.grow {
  flex-grow: 1;
}

>>>>>>> master
.button {
  display: inline-block;
  cursor: pointer;
}

.spin {
  animation: spin 0.75s linear infinite;
  display: inline-block;
}

@keyframes spin {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}