@import './global.scss';

html {
  height: 100%;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  color: $black;
  text-align: center;
}

header {
  background-color: $blue;
  background-image: $standard-gradient;
  color: $white;
  padding: $standard-padding;
}

main {

}

section {
  @extend %xCenter;
  padding: $standard-padding;
  margin: $standard-margin auto;
  @include standard-border($black);
  background-image: $standard-gradient;

  &#searchBox {
    background-color: $green;
    border: none;
  }

  &.resultsPanel {
    text-align: left;

    .dateSpan {
      float: right;
    }

    .button {
      display: inline-block;
    }
  }
}

form {
  text-align: right;

  div {
    margin: 4px 0;
  }

  label, input {
    padding: 2px;
  }
}

span, a {
  margin: 0 6px;
}